@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section>
    <div class="container pt-50 pb-40">
        <div class="row">
            <div class="col-12 pb-20">
                <asp:Label ID="lblmsg" runat="server" Visible="false"></asp:Label>
            </div>
            <div class="col-12">
                <h2 class="contact-titl text-center">Sign in</h2>
            </div>
            <div class="col-lg-6 mx-auto">
                <form id="account" method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="col-12">
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <div class="form-group mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <div class="form-group mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                        <div>
                            <p>
                                <a id="forgot-password" class="normlink" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" class="normlink" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" class="normlink " asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
